.NavbarItems {
    position: sticky;
    background-color: white;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid #e5e5e5;
    box-shadow: 0 8px 8px -12px gray;
}

.logo-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-self: start;
    cursor: pointer;
    margin-left: 20px;
    padding: 0;
}

.logo-container:hover > h1 {
    color: #7F44BE;
    transition: all 0.2s ease-out;
}

.navbar-title {
    color: #353935;
    font-weight: 700;
    margin-left: 10px;
}

.navbar-logo {
    height: 40px;
    width: 40px;
}

.searchbar-input {
    text-align: left;
    width: 500px;
    height: 35px;
    font-size: 14px;
    border: none;
    padding-left: 40px;
    border: 1px solid #eeeeee;
    outline: none;
    border-radius: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.searchbar-input:focus {
    border: 1px solid var(--primary_colour);
    transition: border .2s ease-in;
}

.bars {
    height: 40px;
    width:  40px;
    margin-left: 0px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0px;
    list-style: none;
    list-style-position: inside;
    text-align: center;
    align-items: center;
    width: 65vw;
    justify-content: center;
    margin-right: 2rem;
    padding-left: 0px;
    margin: 0px;
}

.nav-links {
    color: #353935;
    height: 100%;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin-left: 2rem;
}

.nav-links-clicked {
    color: #7F44BE;
    height: 100%;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin-left: 2rem;
}

.nav-links > h2 {
    margin: 0px;
}

.nav-links:hover {
    color: #7F44BE;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.icons {
    display: none;
}

.DropdownElement {
    position: fixed;
}

.UserButtonShrunkDisplay {
    display: none;
}

@media screen and (max-width: 900px) {

    .NavbarItems {
        height: 80px;
        position: sticky;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        padding-top: 10px;
        padding-left: 0px;
    }

    .nav-menu.active {
        position: absolute;
        background-color: white;
        border-top: 1px solid #e5e5e5;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0px;
        margin-left: 0px;
        text-align: left;
    }

    .searchbar-input {
        width: 85vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
        font-size: 14px;
        border: none;
        padding-left: 40px;
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 15px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    }

    .nav-links {
        text-align: left;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        padding: 2rem 2rem 2rem 0rem;
        margin-left: 10px;
        width: 85vw;
        height: 20px;
        font-size: 16px;
        display: flex;
        border-radius: 0;
    }

    .nav-links-clicked {
        text-align: left;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        padding: 2rem 2rem 2rem 0rem;
        margin-left: 10px;
        width: 85vw;
        height: 20px;
        font-size: 16px;
        display: flex;
        border-radius: 0;
    }

    .nav-links:hover {
        color: #7F44BE;
        border-radius: 0;
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 100%;
        background: white;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: white;
        color: black;
        transition: 250ms;
    }

    .icons {
        display: inline;
        height: 25px;
        width: 25px;
        margin-right: 1rem;
    }

    .UserButtonShrunkDisplay {
        display: inline;
        position: fixed;
        bottom: 5%;
        width: 95%;
    }

    .UserButton {
        display: none !important;
    }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
    .NavbarItems {
        height: 60px;
        width: 100%;
        position: sticky;
    }

    .searchbar-input {
        width: 20vw;
        text-align: left;
        font-size: 14px;
        border: none;
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 15px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    }

    .nav-links {
        margin-left: 0rem;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    .NavbarItems {
        height: 60px;
        width: 100%;
        position: sticky;
    }

    .searchbar-input {
        width: 20vw;
        text-align: left;
        font-size: 14px;
        border: none;
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 15px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    }
}

