.dd-wrapper {
    background-color: white;
    border-radius: 20px;
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2px;
    position: absolute;
    right: 0;
}

.dd-list {
    padding: 0;
    margin: 0;
    width: 18vw;
    position: absolute;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0 5px 1px lightgray;
    -moz-box-shadow: 0 0 5px 1px lightgray;
    box-shadow: 0 0 5px 1px lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li {
    list-style-type: none;
}

li:last-of-type > button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li:last-of-type > button:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.DropDownButton {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    text-align: left;
}

.DropDownButton:hover {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: #E5E5E5 !important;
    color: #353935 !important;
}

.DropDownButton:focus {
    cursor: pointer;
}

.selectorValue {
    color: #353935;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0px;
}

@media screen and (max-width: 900px) {
    .dd-wrapper {
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        min-height: 38px;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 70px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .dd-list {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    li:last-of-type > button {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    li:last-of-type > button:hover {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .DropDownButton {
        border-radius: 0px;
        margin: 0px;
    }
}